Options -Indexes

DirectoryIndex index.html

RewriteEngine On
RewriteBase /

# Redirigir /pagina.html a /pagina
RewriteCond %{THE_REQUEST} \s/+(.+?)\.html[\s?] [NC]
RewriteRule ^(.+?)\.html$ /$1 [R=301,L]

# Servir /pagina como /pagina.html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+?)/?$ $1.html [L]