PORT=3000
DOMAIN=https://www.picklemaniaweb.es
FRONTEND_URL=https://www.picklemaniaweb.es
STRIPE_SECRET_KEY=sk_live_xxx
STRIPE_PUBLISHABLE_KEY=pk_live_51TQpSEQl1Fppe3qevhTKqRGOqB2ZXHJRAOvXcteA8c5W2S15UAoIlSJj6QkzBeMuSZRWfMaCqsChfo0sFdrPJ5yf0026EFYkXu

STRIPE_PRICE_BLACK_PADDLE=price_1TZAwNQl1Fppe3qeUCGWWHPc
STRIPE_PRICE_WHITE_PADDLE=price_1TZAwsQl1Fppe3qeyJnl6vyx

STRIPE_SHIPPING_ES=shr_1TZAzAQl1Fppe3qeqeFfWVqp
STRIPE_SHIPPING_ES_FREE=shr_1TZAzgQl1Fppe3qedcPOyPEq
STRIPE_SHIPPING_CANARIAS=shr_1TZB0eQl1Fppe3qeMNzuW0jD
STRIPE_SHIPPING_EU_1=shr_1TZB1AQl1Fppe3qeNuEZRHhk
STRIPE_SHIPPING_EU_1_FREE=shr_1TZB1NQl1Fppe3qeS8lJjYoG
STRIPE_SHIPPING_EU_2=shr_1TZB1dQl1Fppe3qedjCzIv63
STRIPE_SHIPPING_EU_2_FREE=shr_1TZB1qQl1Fppe3qeLS1KCd9d
